<section class="hero is-dark is-small">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-item">
          <h1><%= link_to "Blog", root_path, class: "has-text-weight-bold is-size-4 is-light" %></h1>
           
          </span>
          <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
          <span class="navbar-item">
          <%= link_to "create new blogPost", new_blog_path, class: "button is-success" %>
          </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Blog
      </p>
    </div>
  </div>
</section>